{% extends "layouts.html"%}
{#진자2는 임포트, 상속 문법#}
{% block body %}
<h1 class="display-4">acticles Page</h1>
<p class="lead">This Application is build using by python and Flask Framework</p>
<hr class="my-4">
<table class="table" style="width:100% ">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>description</th>
        <th>author</th>
        <th>date</th>
    </tr>
</thead>
    <tbody>
    </tbody>
    {% for article in articles %}
    <tr>
        <td>scope="col">{{article['id']}}</th></td>
        <td>{{article['title']}}</td>
        <td>{{article['body']}}</td>
        <td>{{article['Author']}}</td>
        <td>{{article['title']}}</td>
    </tr>
{% endfor %}
  </table>
 
  <style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
  </style>
<span>{{articles}}</span>
<a class="btn btn-warning btn-lg" href="#" role="button">Learn more</a>
{% endblock %}
